<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Visor Procesos - Wiki</title>
    <link href="css/wiki.css" rel="stylesheet" />
  </head>
  <body>
    <h2>Wiki</h2>
    <div id="content">
      <aside>
        <ul>
          <li>Procesos</li>
          <li>Actividades</li>
          <li>Arcos</li>
          <li>Gateways</li>
          <li>Roles</li>
          <li>Contáctenos</li>
        </ul>
      </aside>
      <section class="information">
        <p>
        <h1>Wiki Gestor de procesos</h1>
          lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </section>
      <nav>ola</nav>
    </div>
  </body>
</html>
